[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */management/commands/*

[report]
precision = 1
skip_empty = true
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
